@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;500&display=swap');
html {
    scroll-behavior: smooth; /* Para desplazamiento suave */
  }
  body {
      font-family: 'Poppins', sans-serif;
  }
  
  /* Estilos para párrafos */
  p {
    margin-bottom: 1.5rem;
  }
  
  /* Estilos para encabezados */
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
  }
   a{
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 6, 163);
  }
  
  code {
      display: block;
      margin: 2rem auto;
      padding: 1rem;
      background-color: #f0f0f0;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-family: Consolas, Monaco, monospace;
      font-size: 14px;
      line-height: 1.5;
      overflow-x: auto;
  }
